/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-rocco-lyrics {
  padding: 24px;
  background-color: lightyellow;
  box-shadow: 0 0 2px #777;
  .lyrics-title {
    font-family: cursive;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 0;

    textarea {
      text-align: center;
    }
  }

  .lyrics-artist {
    text-align: center;
    font-style: italic;
    font-size: small;
    margin: 0;

    textarea {
      text-align: center;
    }
  }

  .lyrics-heading {
    font-family: cursive;
    margin: 0;
  }

  .lyrics-repeats {
    font-size: small;
    font-style: italic;
    margin: 0;
  }

  textarea {
    background-color: lightyellow;
  }

  .lyrics-external-link {
    text-align: right;
    font-size: smaller;
    padding-top: 20px;
    font-style: italic;
  }

  &.is-saved {
    margin: 24px;
    .lyrics-title {
      margin: 0 0 10px 0;
    }
    .lyrics-artist {
      margin: 0 0 40px 0;
    }
    .wp-block-rocco-lyric-section {
      margin-bottom: 40px;
    }
    .lyrics-repeats, .lyrics-heading {
      margin-bottom: 10px;
    }
  }
}
